@media (max-width:576px){
	.top{
		height: 200%;
		text-align: center;
		.left-top{
			
			
		}
		.right-top {
			margin-left: 30px;
		}
	}
	.top2 {
		.middle {
			margin-top: 20px;
		}
	}
	.mid {
		margin-top: 1rem;
		.mid1{
			width: 100%;

			margin-bottom: 10px;
			margin-right: 0px;
			img {
				max-width: 100%;
			}
		}
	}
	.midduoi{
		margin-top: 2rem;
		.mid2{
			margin-right: 0.5rem;
		}
		img{
			width: 50%;
		}
	}
	.footer {
		.m2{
			margin-top: 28rem;
			.cot,.a{
				width: 7%;
			}
			.cantrai {
				padding-right: 40px;
			}
		}
	}
}